# OS
.DS_Store

# Claude Code local settings
.claude/settings.local.json

# Quarto
/.quarto/
**/*.quarto_ipynb
/*_files/
/*_cache/
docs/
/data/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.pytest_cache/
